@{
    ViewData["Title"] = "Home-Test2";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>id = @ViewData["id"]</p>
    <p>param2 = @ViewData["p2"]</p>
    <p>param3 = @ViewData["p3"]</p>
    <p>param4 = @ViewData["p4"]</p>

</div>
